<h1>Editing Expense Payment</h1>

<%= render 'form' %>

<%= link_to 'Show', expense_expense_payment_path(@expense, @expense_payment) %> |
<%= link_to 'Back', expense_expense_payments_path(@expense) %>
