<div class="row">
  <div class="col-sm-12">

    <div class="jumbotron">
      <h1>Budget Companion</h1>
      <p>Get your finances straight</p>
    </div>

    <p>Budget Companion is a web application to help manage your budget.  Enter your expenses and incomes, set a goal of how much money to save, or view your dashboard to monitor your budget to work toward your goals.</p>

    <h3>Start managing your budget!</h3>
    <p><%= link_to "Sign In", new_account_session_path, class: "btn btn-primary" %> or <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>

  </div>
</div>
