<div class="row">
<h1>Home</h1>
<h2>Welcome to the <strong>Budget Companion</strong>!</h2>

<p>Budget Companion is a web application to help manage your budget.  Enter your expenses and incomes, set a goal of how much money to save, or view your dashboard to monitor your budget to work toward your goals.</p>

<p><%= link_to "Sign In", new_account_session_path %> or <%= link_to "Sign Up", new_account_registration_path %> now and start managing your budget!</p>
</div>