$navitem_background_hovered: #333;
$navitem_foreground_hovered: #fff;

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: $navitem_foreground_hovered;
	background-color: $navitem_background_hovered;
}
